*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eee;
  overflow: hidden;
}

.navbar {
  background-color: #ffffff;
  height: 120px;
  width: 100%;
  box-shadow: 0 5px 5px 2px rgba(31, 38, 135, 0.37);
  margin-top: -20px;
  display: flex;
  align-items: center;
  color: rgba(31, 38, 135, 1);
}

.navbar h1 {
  margin: 10px 0px 0px 20px;
}

.book-library {
  background-color: rgba(60, 106, 214, 1);
  width: 80vw;
  height: 65vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  overflow: scroll;
  padding: 20px;
  margin: 40px auto 0px auto;
  overflow-x: hidden;
}

.book-library div {
  width: 255px;
  height: 200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.55);
  box-shadow: 0 10px 5px 5px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1.5px solid rgba(255, 255, 255, 0.9);
  text-shadow: 0 2px 4px rgba(71, 97, 206, 0.6);
}

#delete-btn{
    top: 0;
    right: 0;
    background-color: #000;
    position: absolute;
}

#read-btn{
    top: 0;
    right: 0;
    background-color: #000;
    position: absolute;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: rgba(60, 106, 214, 1);
}

::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 50px;
  border: 2px solid #ffffff;
}

.book-library div * {
  text-align: center;
  color: #ffffff;
}

.book-library div h1 {
  font-size: 20px;
}

.book-library div h5 {
  font-size: 14px;
  margin: -10px;
}

.book-library div p {
  font-size: 14px;
  position: relative;
  top: 58.5%;
  left: 85px;
  text-shadow: 1px 1px 1px rgba(71, 97, 206, 0.6);
}

div button {
  display: grid;
  place-items: center;
  cursor: pointer;
  border: none;
  background: none;
  position: relative;
  font-size: 18px;
  font-weight: bolder;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0px auto;
  position: absolute;
  column-gap: 20px;
  width: 100%;
}

.btn-container button {
  width: 175px;
  height: 45px;
  border: none;
  color: #ffffff;
  font-weight: bolder;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  display: block;
}

#add-btn {
  background: rgb(156, 223, 216);
  background: linear-gradient(90deg, rgba(156, 223, 216, 1) 0%, rgba(66, 153, 193, 1) 50%, rgba(60, 106, 214, 1) 100%);
}

#remove-all-btn {
  background: rgb(246, 134, 129);
  background: linear-gradient(90deg, rgba(246, 134, 129, 1) 0%, rgba(195, 19, 46, 1) 41%, rgba(167, 0, 0, 1) 70%, rgba(84, 0, 0, 1) 100%);
}

#read-btn{
  font-size: 14px;
  position: relative;
  top: 35.5%;
  left: -90px;
  text-shadow: 1px 1px 1px rgba(71, 97, 206, 0.6);
  cursor: pointer;
}

/* MODAL STYLING */

.modal-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  height: 350px;
  border: 1.75px solid #ccc;
  position: absolute;
  animation: slideAnimation 0.75s ease-in-out;
  display: block;
  flex-flow: column wrap;
  backdrop-filter: blur(2px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.modal-container h2 {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  color: #222;
  margin-top: 20px;
}

.modal-container hr {
  margin: -30px 0px 40px 0px;
  width: 300px;
  color: 1.75px solid #ccc;
}

#add-book-btn {
  background-color: #38afff;
  border-radius: 5px;
  border: 1px solid #2187cc;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 5px 56px;
  height: 35px;
  width: 275px;
  text-decoration: none;
  margin: 20px auto;
}

#add-book-btn:hover {
  background-color: #69c3ff;
}

.modal-container input:focus {
  outline: 2px solid #2bc1fc;
  border: none;
}

#close-modal-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
}

#close-modal-btn:hover {
  color: #ff0000;
}

.modal-container input {
  width: 275px;
  height: 30px;
  display: block;
  margin: -20px auto 0px auto;
  border: 1.75px solid #aaa;
  background: none;
}

#show-modal-btn {
  position: absolute;
  top: 0px;
}


@keyframes slideAnimation {
  0% {
    transform: translateY(-750px);
    transform: translate(200%, -200%);
  }

  100% {
    transform: translateY(0px);
    transform: translate(-50%, -50%);
  }
}

/* MODAL STYLING */
